<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:text="${article.title}"></title>

    <div th:replace="common::resources"></div>
</head>
<body>
<div th:replace="common::main-nav"></div>
<div th:replace="common::profile"></div>

<section class="post" id="wrapper">
    <article>
        <header>
            <h1 th:text="${article.title}"></h1>
            <h2 class="headline">Jun 11, 2017 2:46[[${#dates.format(article.createTimestamp, 'MMM dd, yyyy h:mm')}]]&middot;?? words &middot;? minutes read<span class="tags"></span></h2>
        </header>

        <section id="post-body">
            [(${markdownContent})]
        </section>

        <nav id="post-nav">
            <span class="prev">
                <a th:href="@{'/article/' + ${article.articleId-1}}" th:if="${article.articleId} > 1">Newer Posts<span class="arrow">←</span></a>
            </span>
            <span class="next">
                <a th:href="@{'/article/' + ${article.articleId+1}}" th:if="${article.articleId} < ${articleCount}">Older Posts<span class="arrow">→</span></a>
            </span>
        </nav>
    </article>
</section>

<div th:replace="common::footer"></div>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>