<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Error</title>

    <div th:replace="/themes/dxx/common::resources"></div>
</head>
<body>
<div th:replace="/themes/dxx/common::main-nav"></div>
<div th:replace="/themes/dxx/common::profile"></div>

<section class="home" id="wrapper">
    <h1>Oops!</h1>
    <h3>Page not Found.</h3>
</section>

<div th:replace="/themes/dxx/common::footer"></div>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
